body {
	background-color: #2196f3;
}
h1 {
	text-align: center;
	color: white;
	font-weight: bold;
}
td {
	font-size: 14pt;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
} 

.btn:hover {
	opacity: 0.6;
}

#app {
	background-color:white;
	padding:20px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75;
}
